[submodule "Vault"]
	path = Vault
	url = https://github.com/farooq13/Vault.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/farooq13/anchor-escrow.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/farooq13/anchor-amm.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/farooq13/capstone.git
